@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fixed light background */
  --foreground: #171717; /* Fixed text color */
}

body {
  color: var(--foreground);
  background: var(--background); /* Always use the default background */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
}